<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Nutrients Base</title>
</head>
<body>
    
    <div class="main_container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Base Nutrients</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
              <ul style="font-size: 24px;" class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-home" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a id="nav-link-guide" class="nav-link" href="#">Guide</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link-counter" class="nav-link" href="#">Counter</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link-nutrition" class="nav-link" href="#">Nutrition</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </nav>
        <div id="welcome_container" class="sub_container">
            <h1>Welcome to Base Nutrients!</h1>
            <p>Keep track of your calorie intake, find out what nutrients you lack and be always up to date of what your food is made of!</p>
            <div class="welcome_buttons">
              <a id="welcome_btn_1" class="welcome_button">Start Counting</a>
              <a id="welcome_btn_2" class="welcome_button">Calorie Counter Guide</a>
              <a id="welcome_btn_3" class="welcome_button">Learn about Nutrition</a>
            </div>
        </div>
        <div id="app_container" class="sub_container">
          <p class="return_welcome">Return</p>

          <div class="search_container">
            <input type="text" id="search_key" placeholder="Search Product">
            <p id="submit_search">Search</p>
            <div class="single_summary">
              <h2 id="single_summary_title"></h2>
              <table>
                <tr>
                  <th>Nutrient</th>
                  <th class="amount_td">Amount</th>
                </tr>
                <tr>
                  <td>Fat</td>
                  <td class="amount_td" id="fat">0.0g</td>
                </tr>
                <tr>
                  <td>Saturated Fat</td>
                  <td class="amount_td" id="saturatedFat">0.0g</td>
                </tr>
                <tr>
                  <td>Cholesterol</td>
                  <td class="amount_td" id="cholesterol">0.0mg</td>
                </tr>
                <tr>
                  <td>Sodium</td>
                  <td class="amount_td" id="sodium">0.0mg</td>
                </tr>
                <tr>
                  <td>Carbohydrates</td>
                  <td class="amount_td" id="carbohydrates">0.0g</td>
                </tr>
                <tr>
                  <td>Fiber</td>
                  <td class="amount_td" id="fiber">0.0g</td>
                </tr>
                <tr>
                  <td>Sugars</td>
                  <td class="amount_td" id="sugars">0.0g</td>
                </tr>
                <tr>
                  <td>Protein</td>
                  <td class="amount_td" id="protein">0.0g</td>
                </tr>
                <tr>
                  <td>Calcium</td>
                  <td class="amount_td" id="calcium">0.0mg</td>
                </tr>
                <tr>
                  <td>Iron</td>
                  <td class="amount_td" id="iron">0.0mg</td>
                </tr>
                <tr>
                  <td>Calories</td>
                  <td class="amount_td" id="calories">0.0kcal</td>
                </tr>
                <tr>
                  <td style="font-size: 11px;">
                    U.S. Department of Agriculture, Agricultural Research Service. FoodData Central, 2019. fdc.nal.usda.gov.
                  </td>
                </tr>
              </table>
              <p id="add_product">Add To list</p>
            </div>
          </div>
          <div class="summary_container">
            <h2>Added Products:</h2>
            <div class="products_container">
              <div class="products_list">
                <ul class="products_list_ul">
                  
                </ul>
                <div class="reset_summary">
                  <p id="reset_summary_btn">Reset</p>
                </div>
              </div>
              <div class="products_totals">
                <table>
                  <h3>Total:</h3>
                  <tr>
                    <th>Nutrient</th>
                    <th class="second_col">Amount</th>
                  </tr>
                  <tr>
                    <td>Calories</td>
                    <td id="total_calories" class="second_col">0.0kcal</td>
                  </tr>
                  <tr>
                    <td>Fat</td>
                    <td id="total_fat" class="second_col">0.0g</td>
                  </tr>
                  <tr>
                    <td>Protein</td>
                    <td id="total_protein" class="second_col">0.0g</td>
                  </tr>
                  <tr>
                    <td>Carbohydrates</td>
                    <td id="total_carbohydrates" class="2nd_col">0.0g</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div id="about_container" class="sub_container">
          <p class="return_welcome">Return</p>
          <h1>Guide</h1>
          <div class="guide_text_section">
            <h2>Step 1: Getting Started</h2>
            <p>Open up the Counter section. You'll be greeted by a user-friendly homepage.</p>
          </div>
          <div class="guide_text_section">
            <h2>Step 2: Search for Nutrition Info</h2>
            <p>Got a food in mind? Type it into the search bar. Anything from apples to zucchini, we've got you covered.</p>
          </div>
          <div class="guide_text_section">
            <h2>Step 3: Explore Nutrients</h2>
            <p>Once you've found your food, you'll see a breakdown of its nutrients. It's like having a mini nutrition label at your fingertips.</p>
          </div>
          <div class="guide_text_section">
            <h2>Step 4: Build Your List</h2>
            <p>Found something you love? Tap the "Add To list" button. Want more than 100g? No problem, add it again. Your personal list is taking shape!</p>
          </div>
          <div class="guide_text_section">
            <h2>Step 5: Watch Totals Add Up</h2>
            <p>Scroll down after adding items. Voilà! Your total nutrients are calculated and displayed. Keep an eye on the most important ones like protein and calories.</p>
          </div>
        </div>
        <div id="education_container" class="sub_container">
          <p class="return_welcome">Return</p>
          <h1>Mastering the Essentials of Balanced Nutrition: A Guide to Vital Nutrients</h1>
          <div class="education_intro">
            <p>In a world bustling with diets and trends, the quest for optimal health starts with one fundamental concept: balanced nutrition. What you put into your body directly influences how it functions, from energy levels to overall well-being. So, let's break down the essential nutrients your body craves and how to strike that nutritional harmony.</p>
          </div>
          <div class="guide_text_section">
            <h2>1. Carbohydrates: Fuel for the Engine</h2>
            <p>Carbohydrates are your body's primary source of energy. They're found in foods like grains, fruits, vegetables, and legumes. Complex carbohydrates, like whole grains and fibrous foods, release energy gradually, providing a steady fuel supply. Aim for about 45-65% of your daily calories to come from carbohydrates, focusing on nutrient-rich sources.</p>
          </div>
          <div class="guide_text_section">
            <h2>2. Proteins: Building Blocks of Life</h2>
            <p>Proteins are the body's construction crew, responsible for building and repairing tissues. Sources include meat, poultry, fish, dairy, beans, and nuts. Essential amino acids, the building blocks of proteins, must come from your diet. Aim for a variety of protein sources and include about 10-35% of your daily calories from proteins.</p>
          </div>
          <div class="guide_text_section">
            <h2>3. Fats: More Than Meets the Eye</h2>
            <p>Fats often get a bad rap, but they're crucial for proper bodily functions. Unsaturated fats found in avocados, nuts, and olive oil are heart-healthy, while saturated fats in processed foods should be limited. Omega-3 fatty acids, found in fatty fish like salmon, support brain and heart health. Consume fats in moderation, around 20-35% of your daily calories.</p>
          </div>
          <div class="guide_text_section">
            <h2>4. Vitamins: Tiny Nutrient Powerhouses</h2>
            <p>Vitamins are essential for various bodily processes, from boosting immunity to aiding in metabolism. A well-rounded diet of colorful fruits and vegetables, whole grains, lean proteins, and dairy can usually provide the vitamins your body needs. However, if you struggle to get a variety of foods, a multivitamin might be beneficial.</p>
          </div>
          <div class="guide_text_section">
            <h2>5. Minerals: The Silent Supporters</h2>
            <p>Minerals, like calcium, magnesium, and potassium, are crucial for maintaining healthy bones, muscles, and overall bodily functions. Dairy, leafy greens, and nuts are great sources. Be mindful of sodium intake, as excessive salt can lead to high blood pressure.</p>
          </div>
          <div class="guide_text_section">
            <h2>6. Fiber: Nature's Broom</h2>
            <p>Fiber keeps your digestive system on track, aids in weight management, and helps control blood sugar levels. Whole grains, fruits, vegetables, and legumes are excellent sources of dietary fiber. Aim for 25-38 grams of fiber daily, depending on your age and gender.</p>
          </div>
          <div class="guide_text_section">
            <h2>7. Hydration: Sip Smartly</h2>
            <p>Water might not be a nutrient, but it's essential for life. Proper hydration supports digestion, circulation, temperature regulation, and more. Aim for around 8 glasses (8 ounces each) of water daily, but individual needs vary based on factors like activity level and climate.</p>
          </div>
          <div class="guide_text_section">
            <h2>8. Portion Control: Size Matters</h2>
            <p>Even with the healthiest foods, portion control matters. Overeating, even on nutrient-dense foods, can lead to weight gain. Pay attention to hunger cues and try not to eat when you're not hungry.</p>
          </div>
          <div class="guide_text_section">
            <h2>9. Individual Needs: No One-Size-Fits-Al</h2>
            <p>Remember, nutritional needs vary based on age, gender, activity level, and health conditions. Pregnant or breastfeeding women, athletes, and those with specific dietary restrictions might require adjustments to these general guidelines.</p>
          </div>
          <div class="guide_text_section">
            <h2>10. Listen to Your Body: The Ultimate Guide</h2>
            <p>The key to balanced nutrition is tuning into your body's signals. Are you energized after meals? Do you feel satisfied and not overly full? Are you making choices that align with your overall well-being? Your body knows best; listen to it.</p>
          </div>
          <div class="guide_text_section">
            <p>In conclusion, balanced nutrition is a journey, not a destination. Nourishing your body with a variety of nutrient-rich foods ensures you're not just eating but thriving. Be mindful, make informed choices, and remember that small steps toward better nutrition can lead to significant changes in your health and vitality.</p>
          </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>