<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Nutrients Base</title>
</head>
<body>
    
    <div class="main_container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Base Nutrients</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
              <ul style="font-size: 24px;" class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-home" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Counter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nutrition</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </nav>
        <div id="welcome_container" class="sub_container">
            <h1>Welcome to Base Nutrients!</h1>
            <p>Keep track of your calorie intake, find out what nutrients you lack and be always up to date of what your food is made of!</p>
            <div class="welcome_buttons">
              <a id="welcome_btn_1" class="welcome_button">Start Counting</a>
              <a id="welcome_btn_2" class="welcome_button">Calorie Counter Guide</a>
              <a id="welcome_btn_3" class="welcome_button">Learn about Nutrition</a>
            </div>
        </div>
        <div id="app_container" class="sub_container">
          <p class="return_welcome">Return</p>
        </div>
        <div id="about_container" class="sub_container">
          <p class="return_welcome">Return</p>
        </div>
        <div id="education_container" class="sub_container">
          <p class="return_welcome">Return</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>