body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.navbar{
    opacity: 0.8;
    color: black;
}

.navbar-brand{
    margin-left: 5%;
}

.offcanvas-body{
    margin-right: 5%;
}

.nav-item{
    margin-left: 4%;
}

.nav-item a:hover{
    color: pink;
}

.main_container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/media/main_bg.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_container{
    position: absolute;

    /* From https://css.glass */
    background: white;
    opacity: 0.9;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    margin-top: 5%;
    width: 80%;
    height: 80%;
}

/* SEARCH CONTAINER */
#welcome_container{
    display: flex;
    justify-content: center;
    flex-direction: column;

    z-index: 10;
    opacity: 1;
}

#welcome_container h1{
    padding-left: 5%;
    width: 100%;
}

#welcome_container p{
    padding-left: 5%;
    padding-right: 20%;
}

.welcome_buttons{
    display: flex;
    flex-direction: column; 
    margin-top: 5%;
}

.welcome_button{
    border-radius: 10px;    
    font-size: 20px;
    padding: 5px;

    text-decoration: none;
    color: black;
    margin-left: 5%;
    width: 50%;
    margin-bottom: 1%;
    cursor: pointer;
}

.welcome_button:hover{
    color: pink;
}

/* APP CONTAINER */
#app_container{
    z-index: -5;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
}

.search_container{
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#search_key{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    outline: none;
}

#submit_search{
    background-color: pink;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 5px;
}

#submit_search:hover{
    background-color: rgb(255, 150, 167);
}

.single_summary{
    width: 90%;
    height: 100%;
    margin: 5%;
    background-color: rgb(255,228,200);
    opacity: 1;
    border-radius: 10px;
}

.single_summary h2{
    margin: 2%;
}

.single_summary table{
    margin: 2%;
    width: 90%;
}

.single_summary table tr{
    margin-bottom: 2%;
}

.single_summary table td{
    width: 50%;
    padding-bottom: 2%;
    padding-left: 2%;
}

#add_product{
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    bottom: 2%;
    background-color: rgb(252, 164, 164);
}

#add_product:hover{
    background-color: rgb(252, 122, 122);
}

.summary_container{
    width: 60%;
    height: 100%;
}

.summary_container h2{
    margin: 2% 5%;
}

.products_container{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.products_list{
    width: 40%;
    padding-left: 10%;
}

.products_list ul li{
    font-size: 22px;
    list-style: square;
}

.reset_summary{
    margin-top: 20%;
    display: inline-block;
}

.reset_summary p{
    cursor: pointer;
    background-color: pink;
    padding: 4px 10px;
    border-radius: 5px;
}

.reset_summary p:hover{
    background-color: rgb(255, 152, 170);
}

.products_totals{
    width: 60%;
    padding-left: 10%;
    border-left: 0.1px solid pink;
}

.products_totals table{
    width: 100%;
    font-size: 20px;
}

.products_totals table tr{
    margin-bottom: 20%;
}

.second_col{
    margin-left: 5%;
}

/* ABOUT CONTAINER */
#about_container{
    opacity: 1;
    z-index: -5;
    padding-top: 2%;
}

#about_container h1{
    margin-left: 5%;
    margin-bottom: 5%;
    text-decoration: underline;
}

.guide_text_section{
    padding-left: 5%;
    margin-bottom: 3%;
}

.guide_text_section h2{
    font-size: 20px;
}

.guide_text_section p{
    font-size: 16px;
}

/* EDUCATION CONTAINER */
#education_container{
    opacity: 1;
    z-index: -5;
    overflow: scroll;
}

#education_container h1{
    font-size: 22px;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 5%;
}

.education_intro p{
    margin-left: 5%;
    margin-bottom: 2%;
    width: 65%;
}

#education_container .guide_text_section p{
    font-size: 16px;
    width: 65%;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Customize the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
  }
  
  /* Customize the scrollbar thumb when hovered */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Color when hovered */
  }
  
  /* Customize the scrollbar track when hovered */
  ::-webkit-scrollbar-track:hover {
    background-color: #ddd; /* Track color when hovered */
  }
  
  /* Customize the scrollbar corner, where vertical and horizontal scrollbars meet */
  ::-webkit-scrollbar-corner {
    background-color: #f0f0f0; /* Corner color */
  }

.return_welcome{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    background-color: pink;
    padding: 4px 6px;
    border-radius: 5px;
}

.return_welcome:hover{
    background-color: rgb(253, 136, 156);
}

@media screen and (max-width: 1320px){
    .sub_container{
        position: absolute;
    
        /* From https://css.glass */
        background: white;
        opacity: 0.9;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.5px);
        -webkit-backdrop-filter: blur(7.5px);
        border-radius: 10px;
        margin-top: 5%;
        width: 90%;
        height: 80%;
        overflow: scroll;
    }

    .welcome_button{
        border-radius: 10px;    
        font-size: 20px;
        padding: 5px;
    
        text-decoration: none;
        color: black;
        margin-left: 5%;
        width: 80%;
        margin-bottom: 1%;
        cursor: pointer;
    }

    #app_container{
        overflow: scroll;
    }
}

@media screen and (max-width: 900px){
    .sub_container{
        position: absolute;
    
        /* From https://css.glass */
        background: white;
        opacity: 0.9;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.5px);
        -webkit-backdrop-filter: blur(7.5px);
        border-radius: 10px;
        margin-top: 5%;
        width: 90%;
        height: 90%;
        overflow: scroll;
    }

    #app_container{
        z-index: -5;
        opacity: 0;
    
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .search_container{
        width: 100%;
        height: 100%;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    .summary_container{
        width: 100%;
        height: 100%;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    #about_container h1{
        margin-top: 10%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .guide_text_section p{
        font-size: 16px;
        width: 75%;
    }

    #education_container h1{
        font-size: 20px;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-top: 10%;
    }
}

@media screen and (max-width: 770px){
    .sub_container{
        position: absolute;
    
        /* From https://css.glass */
        background: white;
        opacity: 0.9;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.5px);
        -webkit-backdrop-filter: blur(7.5px);
        border-radius: 10px;
        margin-top: 5%;
        width: 90%;
        height: 85%;
        overflow: scroll;
    }

    .welcome_button{
        border-radius: 10px;    
        font-size: 20px;
        padding: 5px;
    
        text-decoration: none;
        color: black;
        margin-left: 5%;
        width: 80%;
        margin-bottom: 1%;
        cursor: pointer;
    }

    #app_container{
        z-index: -5;
        opacity: 0;
    
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .search_container{
        width: 100%;
        height: 100%;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .summary_container{
        width: 100%;
        height: 100%;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    #about_container h1{
        margin-top: 10%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .guide_text_section p{
        font-size: 16px;
        width: 75%;
    }

    #education_container h1{
        font-size: 20px;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    .products_container{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .products_totals{
        width: 100%;
        padding-left: 10%;
        border-left: 0.1px solid pink;
    }

    #education_container h1{
        margin-top: 20%;
    }

    #education_container .guide_text_section p{
        width: 90%;
    }
}